.masonry-item {
  width: 350px;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

#content {
  margin-top: 1rem;
}

.example-header-image {
  background-image: url('https://img2.pngio.com/free-stock-exchange-svg-9909-free-icons-and-png-backgrounds-stock-exchange-icon-png-2672_2672.png');
  background-size: cover;
}
